 <form>
        <table>
        <tr>
            <th><label for="commission_id">Commission ID: </label>
            <th><label for="product_id">Product ID: </label>
        <tr>
            <th><input type="number" name="commission_id" id="commission_id">
            <th><input type="number" name="product_id" id="product_id">
            <th><input type="submit" id="commproductsubmit">
        </table>		
        </form> 
