
<h1>Better Bracelets</h1>
<br>
<center>
<img src="https://www.goldenagebeads.com/blog/wp-content/uploads/2018/07/friendship-2156174_1920-1024x683.jpg" height = "50%" width = "50%"><br>
"Golden Age Beads, 7/2018, https://www.goldenagebeads.com"
</center>
