<form>
<table>
<tr>
            <th><label for="style">Style: </label>
            <th><label for="color">Color: </label>
            <th><label for="material">Material: </label>
        <tr>
            
            <th><input type="text" name="style" id="style">
            <th><input type="text" name="color" id="color">
            <th><input type="text" name="material" id="material">
            <th><input type="submit" id="productsubmit">
        </table>		
        </form> 
