<h1>Update Nonprofits</h1>
<br>

<form id="update-nonprofit" action"/nonprofits" method="post">
  Nonprofit Name: <input type="text" name="nonprofit_name" value="{{nonprofit.nonprofit_name}}" required /><br>
  
</form>
<button onclick="updateNonprofit({{nonprofit.nonprofit_id}})">Update</button>
